#!/bin/sh

#git meta
GITBRANCH=$(git branch | cut -d' ' -f2)
SHA1=$(git rev-parse ${GITBRANCH})
GITCOMMIT=\"${SHA1::8}\"

#in gdb use "set substitute-path /home/sdwifi /path/to/build"
PREFIXMAP="-ffile-prefix-map=${HOME}=/home/sdwifi"

CPPFLAGS="-DGITCOMMIT=${GITCOMMIT} ${PREFIXMAP}"
CFLAGS="-DGITCOMMIT=${GITCOMMIT} ${PREFIXMAP}"

#The CH341 chip lacks a serial number, making it difficult to differentiate between the SD Wifi Pro board and my USB-to-TTL board, as both use the same chip.
#As a temporary solution, I assign each board to a specific physical USB port ("path") on my machine. 
#The path of a connected device can be determined using the following `udevadm` command:
#  udevadm info -q property --value --property=ID_PATH_TAG -n /dev/ttyUSB0
#I avoid using udev rules to keep the link non-permanent.
#
#The USB path of the right-side port on my laptop, which I dedicate to the USB-to-TTL board.
USB2TTL=pci-0000_00_14_0-usb-0_13_1_1_0
#Other two ports (type-C on my machine) that can be used for SD Wifi Pro dev board
SDWIFI=pci-0000_00_14_0-usb-0_9_1_0
SDWIFI2=pci-0000_00_14_0-usb-0_2_1_0

USBTTL_DEV=
SDWIFI_DEV=
for dev in "/dev/ttyUSB0" "/dev/ttyUSB1"
do
    PATH_TAG=$(udevadm info -q property --value --property=ID_PATH_TAG -n $dev 2>/dev/null)
    case $PATH_TAG in
	$USB2TTL )
		USBTTL_DEV=${dev} ;;
        $SDWIFI )
        	SDWIFI_DEV=${dev} ;;
        $SDWIFI2 )
		SDWIFI_DEV=${dev} ;;
    esac
done

export USBTTL_DEV SDWIFI_DEV CPPFLAGS CFLAGS

