#!/bin/sh
#The CH341 chip does not have a serial number, making it difficult to 
#distinguish between the SD Wifi Pro board and my USB-to-TTL board, 
#both of which use the same CH341 chip.

#As a quick workaround, I link them to specific physical USB port "path"
#on my machine.
#
#To learn the "path" connect one (and only one)  of the devices to USB port A 
# and execute
#  udevadm info -q property --value --property=ID_PATH_TAG -n /dev/ttyUSB0
#then upfate this script with the returned value.
#
#I avoid using udev rules  - it is a bit easier to miatanin this settings 
#as part of the build tree.
#
#USB path of the righ side port on my laptop that I use for USB-to-TTL board
USB2TTL=pci-0000_00_14_0-usb-0_13_1_1_0

#Other two ports (type-C on my machine) that I usefor SD Wifi Pro dev board
SDWIFI=pci-0000_00_14_0-usb-0_9_1_0
#or
SDWIFI2=pci-0000_00_14_0-usb-0_2_1_0

USBTTL_DEV=
SDWIFI_DEV=

for dev in "/dev/ttyUSB0" "/dev/ttyUSB1"
do
    PATH_TAG=$(udevadm info -q property --value --property=ID_PATH_TAG -n $dev 2>/dev/null)
    case $PATH_TAG in
	$USB2TTL )
		USBTTL_DEV=${dev} ;;
        $SDWIFI )
        	SDWIFI_DEV=${dev} ;;
        $SDWIFI2 )
		SDWIFI_DEV=${dev} ;;
    esac
done

export USBTTL_DEV
export SDWIFI_DEV
